.blurry_container {
	background-color: rgba(255, 255, 255, .10);  
	backdrop-filter: blur(4px);
	padding: 15px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	/* border-radius: 30px; */
	/* -moz-border-radius: 30px; */
}